.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #1e90ff;

    form {
        background-color: white;
        min-width: 400px;
        padding: 20px;
        width: 100px;
        border-radius: 10px;
        box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07);

        h2 {
            font-size: 30px;
            font-weight: bold;
            color: #232836;
            text-align: center;
        }

        button {
            height: 50px;
            width: 100%;
            background-color: #ff6348;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-weight: 400;
            font-size: 18px;
            margin: 15px 0 10px 0;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background-color: #ff7f50;
            }
        }

        .formLink {
            text-align: center;

            span {
                color: #6f7174;
            }
        }

        .line {
            height: 1px;
            position: relative;
            width: 100%;
            margin: 20px 0px;
            background-color: #d4d4d4;

            &::before {
                content: "Hoặc";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                color: #232836;
                padding: 0 15px;
            }
        }

        .facebook {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4267b2;
            color: white;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            margin-top: 20px;
            transition: all 0.3s ease;

            &:hover {
                background-color: #1849aa;
            }
        }

        .facebookIcon,
        .googleImg {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
        }

        .facebook.google {
            background-color: #222;
            color: white;
            border: 1px solid #cacaca;

            &:hover {
                background-color: #000;
            }
        }
    }
}